/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #E0D6FF;
    color: #333333;
    transition: background-color 0.3s ease;
    scroll-behavior: smooth; /* Adicionando scroll suave */
    font-size: 20px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para garantir que o menu fique acima de outros elementos */
    background-color: #0F3057;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #FFA41B;
    border-radius: 30px;
}

#hora {
    font-size: 20px;
    color: #FFA41B;
}

main {
    margin-top: 60px; /* Adicionando margem para compensar a altura do menu fixo */
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    background-color: #E0D6FF;
    padding: 40px;
    text-align: center;
}

.inner-content {
    max-width: 800px;
}

h1,
h2 {
    margin-bottom: 20px;
}

.bandeja {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centraliza a bandeja */
    flex-wrap: wrap; /* Permite que os cards quebrem a linha quando necessário */
}

.projeto {
    background-color: #0F3057;
    color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px); /* Calcula a largura para 3 cards por linha com espaço entre */
    margin-bottom: 20px;
    text-decoration: none; /* Remover sublinhado dos links */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.projeto:hover {
    background-color: #FFA41B;
    transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
    .bandeja {
        flex-direction: column;
        align-items: center;
        max-height: 50vh; /* Defina a altura máxima que desejar */
        overflow-y: auto;
    }

    .projeto {
        width: calc(100% - 40px); /* Largura total com espaço entre os cards */
        margin-bottom: 20px;
    }
}

ul {
    list-style-type: none;
}

ul li a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px ;
}

ul li a:hover {
    color: #00897b;
    font-size: 30px;
}

#jogo-memoria {
    text-align: center;
    margin-top: 20px;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 4 colunas de 100px cada */
    gap: 10px; /* Espaço entre as cartas */
    justify-content: center;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #FFA41B; /* Cor de fundo da carta */
    color: #ffffff; /* Cor do texto da carta */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.carta:hover {
    background-color: #FF7C00; /* Cor de fundo da carta ao passar o mouse */
}

#info-jogo {
    margin-top: 20px;
}

#score {
    font-size: 18px;
    margin-bottom: 10px;
}

#botoes {
    margin-top: 20px;
}

#btn-iniciar, #btn-reiniciar{
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA41B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botoes button:hover {
    background-color: #FF7C00;
}



footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0F3057;
    color: #fff;
}

#theme-toggle {
    display: flex;
    align-items: center;
}

#theme-toggle label {
    margin-right: 10px;
}

/* Estilos para o confete */
@keyframes confete-fall {
    0% { transform: translateY(-100vh) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}

.confete {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FFD700; /* Cor do confete */
    border-radius: 50%;
    animation: confete-fall 5s linear infinite; /* Duração da animação e repetição infinita */
}

/* Adicione mais estilos conforme necessário */
