header{
    position: fixed;
    align-items: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color:#f2f2f2;
    border-radius: 40px;
    width: 95%;
    height: 12%;
    top: 0;
    margin-left: 30px;
}

button{
    display: flex;
    justify-content: center;
    margin: 0.625rem;
    background-color: #03038c;
    color: whitesmoke;
    font-size: 25px;
    border: solid 0.125rem;
    border-radius: 0.625rem 10px 10px 10px;
    border-color: #17574C;
    padding:10px;
}
.mainmenubtn:hover {
    background-color: #d5f465;
    color: #03038c;
    border: none;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color:#d5f465;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    
}
.dropdown-child a {
    color: #03038c;
    padding: 0.3125rem;
    border-color: #d5f465;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.links_paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.sobreMim a{
    padding: 1.5rem;
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #03038c;
}
.tray_projetos a{
    padding: 1.5rem;
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #03038c;
}
#about{
    width: 100vw;
    max-height: 1440px;
    background-clip: padding-box;
   
 
}   
#pr{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
margin-bottom: 1rem;
background-color:transparent;
 padding: 60px;
 font-size: 25px;
}

#sectionProjetos{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #f2f2f2;
    width: 100vw;
   height: 100vh;
   border-radius: 90px;
     background-clip: padding-box;
}
.projetos_container{
    display: flex;
    justify-content: center;
    
    max-width: 70Vw;
    height: 50vh;
    padding: 5px;
    border: solid;
    border-color: #ecbcfb;
    border-radius: 10px;
    background-color: transparent;
 
  
  }
  .projetos_container {
    max-height: 90vh;
    margin: 24px;
    overflow-y: auto;
    }

   
  
  .projetos_container::-webkit-scrollbar {
    width: 15px;
    height: 0px;
  
  
  }
  
  .projetos_container::-webkit-scrollbar-thumb {
    background-color: #d5f465;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
     border: 2px solid #d5f465;
     height: 5px;
  }
 .lista_cadaProjeto {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px; 
    display: grid;  
    gap: 16px;
    grid-gap: 32px; 
    margin: 0 auto;
  }

  
  .cards {
    position: relative;
    top: 0px;                 
    width: 210px;
    height: 200px;
    padding: 10px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #c8a2c8;
     font-family: "Poppins", sans-serif;
    font-style: normal;
  
    }
    .imagens_cards{
        display: flex;
        justify-content: center;
    }
  
 .span{
    padding: 10px;
    position:absolute;                    
    color: #ECECEC;
    font-size: 24px;
    
    font-weight: 700;
  }


projeto1-card {
        position: relative;
        top: 0px;
        width: 210px;
        height: 200px;
        overflow: hidden;
        border-radius: 6px;
    }

    .projeto1-card span {
        padding: 10px;
        position: absolute;
        color: #ECECEC;
        font-size: 24px;
        font-weight: 700;
       font-family: "Poppins", sans-serif;
    font-style: normal;
    }
body{
    background-color: #ecbcfb;
    color:#03038c;
}
h1{
    display: grid;
    justify-content: center;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
span{
    color: #FC2055;
}
img{
    float: right;
    border: transparent thin solid;
    padding: 5px;
    margin: 0 200px 10px 2px;
    max-width: 300px;

}
#about{ position: relative;
    align-items: flex-end;
    max-width: 100Vw;
    height: 100vh;
    padding-top: 16px;
    margin: 20px;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 100px;
    color: #03038c;
    width: 1190px;
}
#about h1{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 120px 0px 0px;
    margin-top: 0rem;
    font-size: 50px;
  
    
}
.apre{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;

}
/* Seção projetos */
.redes_git a{
    width: 10%;
    border: solid 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #d5f465;
    border-color: #d5f465;
    text-decoration: none;
    color:black;
    background-color: whitesmoke;
    padding: 0.500rem;
     bottom:0px;
    margin-left: 10px;
 
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.redes_in a{
    width: 10%;
    border: solid 2px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 15px #d5f465;
    border-color: #d5f465;
    color:black;
    background-color: whitesmoke;
    padding: 0.500rem;
    text-decoration: none;
     bottom: 0;
    left:0;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.redes{   
   display: flex;
   align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 15px 5px 5px168, 168, 0.1);
    background: whitesmoke;
    padding: 15px 40px;
}
