header{
    position: fixed;
    z-index: 1000;
    display: flex;
    background-color:#1C1B1B;
    border-radius: 10px;
    margin-top: 0rem;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
    right: 0;

  
    
    
}
button{
    display: flex;
    justify-content: center;
    margin: 0.625rem;
    background-color: #04f4d1;
    color: black;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
    border: solid 0.125rem;
    border-radius: 0.625rem 10px 10px 10px;
    border-color: #17574C;
    padding:10px;
}
.mainmenubtn:hover {
    background-color: #04f4d1;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color:#FC2055;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    
}
.dropdown-child a {
    color: black;
    padding: 0.3125rem;
    border-color: #FC2055;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.links_paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
.tray_projetos a{
    padding: 1.5rem;
    margin: 10px;

    text-decoration: none;
    color: aqua;
}
.sobreMim a{
    padding: 1.5rem;
    margin: 10px;

    text-decoration: none;
    color: aqua;
}
#pr{
    margin-top: 1rem;
margin-bottom: 01rem;
background-color:transparent;
}

}
.projetos_container{
    position:relative;
    max-width: 100Vw;
   max-height: 50vh;
    padding-top: 16px;
    border-radius: 10px;
    background-color: #1C1B1B;
    margin-right: 100px;
        
}.projetos_container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;}
  
  .projetos_container::-webkit-scrollbar {
    width: 1px;
  }
  
  .projetos_container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
 .lista_cadaProjeto {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px; 
  
    display: grid;  
    gap: 16px;
    grid-gap: 32px; 
    margin: 0 auto;
  }

  
  .cards {
    position: relative;
    top: 0px;                 
    width: 210px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #17574C;
  
    }
  
 .span{
    padding: 16px;
    position:absolute;                    
    color: #ECECEC;
    font-size: 24px;
    
    font-weight: 700;
  }


projeto1-card {
        position: relative;
        top: 0px;
        width: 210px;
        height: 200px;
        overflow: hidden;
        border-radius: 6px;
    }

    .projeto1-card span {
        padding: 16px;
        position: absolute;
        color: #ECECEC;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
body{
    background-color: #1C1B1B;
    color:#FBFBFB;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    color: #FC2055;
}
img{
    float: right;
    border: transparent thin solid;
    padding: 5px;
    margin: 0 200px 10px 2px;
    max-width: 300px;

}
#about{ position: relative;
    align-items: flex-end;
    max-width: 80Vw;
    height: 90vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 100px;
    color: #ECECEC;
    width: 1190px;
}
#about h1{
    position: relative;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    margin-top: 0rem;
    
}
.apre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 25px;
}
/* Seção projetos */


.redes{
      display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 00px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: linear-gradient(to right, #17574C, aqua);
    padding: 15px 40px;
  
}

.redes_git a{
    width: 10%;
    border: solid 2px;
    border-radius: 10px 10px 10px 10px;
    border-color: #1C1B1B;
    color:black;
    background-color: #FC2055;
    padding: 0.500rem;
    margin: 10px;
    text-decoration: none;
}
.redes_in a{
    width: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 1px;
    border-radius: 10px 10px 10px 10px;
    border-color: #1C1B1B;
    color:black;
    background-color: #FC2055;
    padding: 0.500rem;
    text-decoration: none;
     bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email{
   background: linear-gradient(to right, #17574C, aqua);
   width: 50%;
   height: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;

}
.sfooter{
   justify-content:end;
    align-items: flex-end;
    max-width: 100Vw;
   max-height: 10vw;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 300px;
    color: #fff;
    width: 1190px;
    
}
